* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root{
  --a:0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  color: #fff;
}
.left {
  width: 25vw;
  padding: 10px;
}
#close {
  display: none;
  position: absolute;
  right: 30px;
}
.home ul li {
  width: 20px;
  list-style: none;
  display: flex;
  padding-top: 20px;
}
.library {
  position: relative;
  height: 80vh;
}
.LibraryHead {
  width: 30px;
  display: flex;
  align-items: center;
}
.LibraryHead h3 {
  padding: 0 10px;
}
.songsList {
  overflow: scroll;
  height: 344px;
  margin: 44px 0px;
}
.songsList ul {
  padding: 16px 12px;
}
.songsList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 34px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  margin: 12px 0px;
  padding: 8px;
}
.info div {
  word-break: break-all;
}
.playNow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playNow span {
  font-size: 14px;
  width: 64px;
}
.footer {
  bottom: 0px;
  position: absolute;
}
.footerLinks {
  padding: 35px;
}
.footerLinks a {
  color: #646262;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}
.footerLinks a:hover {
  text-decoration: underline;
}
.right {
  width: 75vw;
  margin: 16px 0px;
  position: relative;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
}
.hamburger {
  display: none;
}
.arrows {
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navBar > * {
  padding: 10px;
}
.navBar a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
}

.SpotifyPlaylist {
  padding: 16px;
}
.SpotifyPlaylist h1 {
  padding: 16px;
}
.cardContainer {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 50vh;
  overflow-y: scroll;
}
.card {
  background-color: #181818;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  transition: all 0.5s;
}
.card:hover{
  cursor: pointer;
  background-color: rgb(90, 88, 88);
  --a:1;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 212px;
  right: 27px;
  opacity: var(--a);
  transition: all 0.5s;
}
.playbar {
  position: fixed;
  bottom: 20px;
  width: 70vw;
  min-height: 40px;
  filter: invert(1);
  background: #dad5d5;
  border-radius: 10px;
  padding: 12px;
}
.seekBar {
  height: 2px;
  width: 98%;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  margin: 6px;
  cursor: pointer;
}
.circle {
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 13px;
  position: relative;
  bottom: 5px;
  transition: left 0.5s;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}
.timeVol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.songInfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}
.songTime {
  color: black;
  padding: 0 12px;
  width: 150px;
}
.songButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (max-width: 1200px) {
  .left {
    width: 373px;
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    background-color: black;
    padding: 0;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: calc(100vw - 70px);
  }
  .seekBar {
    width: calc(100vw - 70px);
  }
  .hamburger {
    display: block;
  }
  #close {
    display: block;
  }
  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }
  .songTime,
  .songInfo {
    width: auto;
  }
  .timeVol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 22px;
  }
  .cardContainer {
    justify-content: center;
    margin: 0;
  }
  .card{
    width: 44vw;
  }
  .right .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
@media (max-width: 400px){
  .card{
    width: 84vw;
  }
}

